<style>
.view {
    background-position: center center;
    background-repeat: no-repeat;
    height: 470px;
    text-align: center;
}

.full-bg-img {
    padding: 10% 0;
}
</style>
<div class="div-top-main">
    <div class="container">
        <!--{eval $t = 0}-->
        <!--{loop $data $k $v}-->
        <!--{if $t == 0}-->
        <div class="bannernews" style="padding: 0px;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!--{loop $v['image_slide'] $k2 $v2}-->
                    <li data-target="#myCarousel" data-slide-to="{$k2}" class="<!--{if $k2==0}--> active <!--{/if}-->"></li>
                    <!--{/loop}-->
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <!--{loop $v['image_slide'] $k2 $v2}-->
                    <div class="item item <!--{if $k2==0}--> active <!--{/if}-->">
                        <img src="<!--{loadImage $v2['src_link'] none 1170 500}-->" style="width: 100%" class="img-responsive" alt="$v2['title']">
                    </div>
                    <!--{/loop}-->
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--{/if}-->
        <!--{eval $t++}-->
        <!--{/loop}-->
    </div>
    <style type="text/css">
    .page-template-tpl-homepage .booking-mask {
        position: relative !important;
        top: inherit;
    }

    .div-top-main {
        position: relative;
    }

    .content-container.tabs-container {
        position: absolute;
        bottom: 55px;
        width: 100%;
        z-index: 1;
        margin: auto;
        max-width: inherit;
    }

    .page-template-tpl-homepage .booking-mask {
        position: absolute;

        width: 100%;
        z-index: 1;
        max-width: 1140px;
        margin: auto;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        -o-transition: background-color .3s, border-color .3s;
        -webkit-transition: background-color .3s, border-color .3s;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid #acd9f5;
        border-radius: 4px;
        color: #00305b;
        font-weight: 600;
        padding: 10px 14px;
        transition: background-color .3s, border-color .3s;
        width: 100%;
        padding: 0px;
        height: 39px;
    }
    </style>
    <div class="ind-tab">
        <div class="container">
            <ul class="">
                <li class="active-ntab">limousine</li>
                <li class="">Vé máy bay</li>
                <li class="">Tàu cao tốc</li>
            </ul>
        </div>
    </div>
    <div class="booking_form">
        <div class="main-wrap pr">
            <!--end product-tab-wrap-->
            <div class="search-wrap pr clearfix">
                <div class="tab-content">
                    <div id="bus-search-box " class="limousine_form">
                        <form action="dat-ve" id="search-form ">
                            <div class="pr" id="Bus-search-panel-box-div">
                                <div class="row" style="margin-right: -15px; margin-left: -15px;">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="startPoint">Điểm đi</label>
                                            <div class="iconic-input">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <div class="dropdown dzhide">
                                                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <div class="textdiemdi">Chọn điểm đi</div>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" id="diemdi" aria-labelledby="dLabel">
                                                    </ul>
                                                </div>
                                                <input type="hidden" class="form-control" name="startPoint" id="startPoint" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="endPoint">Điểm đến</label>
                                            <div class="iconic-input">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <div class="dropdown dzhide">
                                                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <div class="textdiemden">Chọn điểm đến</div>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" id="diemden" aria-labelledby="dLabel">
                                                    </ul>
                                                </div>
                                                <input type="hidden" class="form-control" name="endPoint" id="endPoint" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 selectDateD fullst">
                                        <div class="">
                                            <label for="depatureDate">Ngày đi</label>
                                            <div class="iconic-input">
                                                <i class="fa fa-calendar"></i>
                                                <input style="text-align: center;padding-left: 0px !important; height: 48px;" type="text" class="form-control datepicker" name="depatureDate" id="depatureDate" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="depatureDate"></label>
                                            <div class="search-btn">
                                                <input type="hidden" name="returnDate">
                                                <input type="hidden" id="startId" name="startId">
                                                <input type="hidden" id="endId" name="endId">
                                                <input type="hidden" id="isRoundTrip" name="isRoundTrip">
                                                <button type="submit" class="btn btn-orange" id="search-btn" style="margin-top: 0px;">Tìm kiếm xe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                            #search-btn {
                                height: 48px;

                            }
                            </style>
                        </form>
                    </div>
                    <div class="row" id="Bus-search-option-div" style="display: none;">
                        <div class="col-lg-12">
                            <a href="javascript:;" id="aBasic_Bus" class="orange" style="display: none;">Tìm kiếm cơ bản</a>
                            <a href="javascript:;" id="aAdvanced_Bus" class="orange" style="">Tìm kiếm nâng cao</a>
                            <a data-toggle="modal" data-target="#suggest-new-route" class="suggest-route">Đề Xuất Tuyến Mới</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-tab-booking">
            </div>
            <!--search-wrap-->
            <p style="width: 100%; text-align: center; font-weight: bold; color: #239b40;">Đang Khuyến Mại 10%</p>
        </div>
    </div>
    <style>
    .view {
        background-position: center center;
        background-repeat: no-repeat;
        height: 470px;
        text-align: center;
    }

    .full-bg-img {
        padding: 10% 0;
    }

    .dropdown.dzhide button {
        border: solid 1px #b7b7b7;
        background: #fff !important;
        color: #000 !important;
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        padding: 7px 30px;
    }

    .limousine_form .form-group input,
    .limousine_form .form-group select {
        height: 48px;
    }

    .iconic-input .caret {
        position: absolute;
        right: 10px;
        font-size: 20px;
        top: 50%;
        margin-top: -5px;
        color: #555;
    }

    .iconic-input .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 10px dashed;
        border-top: 4px solid\9;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    ul#diemdi {
        width: 450px;
    }

    ul#diemdi li {
        line-height: 40px;
        padding-left: 10px
    }

    ul#diemden {
        width: 450px;
    }

    ul#diemden li a {
        line-height: 40px;
        padding-left: 10px;
        font-size: 16px;
        text-decoration: none;
    }

    ul#diemdi li a {
        line-height: 40px;
        padding-left: 10px;
        font-size: 16px;
        text-decoration: none;
    }

    .reason .reason-form:first-child {
        padding-left: 10px;
    }

    .reason .reason-form {
        padding: 0 20px;
    }

    .reason {
        width: 100%;
        margin: 20px 0 30px;
        display: table;
        float: left;
    }

    .reason .reason-form {
        width: 230px;
        display: table-cell;
        text-align: center;
        vertical-align: top;
    }

    .reason .reason-item-img {
        width: 100%;
        height: 78px;
        position: relative;
        margin-bottom: 20px;
    }

    .reason .title {
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 10px;
        width: 100%;
    }

    .reason p {
        font-size: 14px;
        color: #444;
        text-align: center;
    }

    .dropdown-menu li {
        border-bottom: 1px solid #e7e7e7;
        cursor: pointer;
    }
    .search-wrap .form-group{
        margin: 0px;
    }
    </style>
    <style type="text/css">
    div#myCarousel .item {
        margin-bottom: 0px;
    }

    .row.chonchieu .btn {
        line-height: inherit;
    }
    </style>
    <style type="text/css">
    .datve-home .col-md-12 {
        padding: 0px;
    }

    .main-bg-vn {
        height: auto;
        overflow: inherit !important;
    }
    </style>