<!--{temp common/position_top}-->

<!--Slide-->
<div class="toppage">
bnc_position_block_5
</div>
<!--End Slide-->
<!--Load content-->
load_temp
<div class="bottompage">

<!--{if $web['anvui_id'] == 'TC1OHntfnujP'}-->
bnc_position_block_5
<!--{/if}-->
</div>
<!--End Load content-->
<!--{if $web['anvui_id'] == 'TC1OHntfnujP'}-->
<div class="modal fade" id="adsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{$web['static_temp']}{$web['temp']}/statics/imgs/popup2.jpg" style="width: 100%" class="img-responsive img-ads" alt="">
            </div>
            </div>
        </div>
    </div>
<!--{/if}-->

<script type="text/javascript">
	$(".toppage .dt-slidew").empty();
	$(".bottompage .show-top").empty();
</script>
<!--{temp common/position_bottom}-->
